
<!DOCTYPE html>
<html>
<head>
	<title></title>
	
</head>
<body>
	<div class="container-fluid">
		<video autoplay muted loop  style="position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;">
  		<source src="/videos/snow.mp4">
		</video>

<!-- Optional: some overlay text to describe the video -->
<div class="row">
			
			<div class="col col-md-3 offset-md-8" ><h1 ><span class="badge badge-light" >Welcome <%=user.name%></span> </h1></div>
			<div class="col col-md-1" ><a href="/users/logout" class="btn btn-secondary btn-lg btn-block" style="float:right;" >Logout</a></div>
			
			
			
		</div>
		<div class="row justify-content-md-center pt-5">
			<div class="col-12  offset-md-5 col-md-6 mb-4">
				<h1><span class="badge badge-info">Home</span></h1>
			</div>
			<div class="col-12 col-md-4 mt-5">
				
				<a href="/dashboard/customer" class="btn btn-primary btn-lg btn-block" >As a customer</a>
			 </div>
			 <div class="col-12 col-md-4 mt-5">
				<a href="/dashboard/shopkeeper" class="btn btn-primary btn-lg btn-block" >As a shopkeeper</a>
			</div>
		</div>


  
</div>
		
		
	

</body>
</html>